<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <title>Bootstrap Tutorial</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css" type="text/css"/>


</head>
<body>

<div class="container">

    <div class="page-header">
        <h1>Furniture magazine</h1>
    </div>
    <div class="jumbotron">
        <h3>Wyświetl sklepy i ich adresy</h3>
        <a href="#">Pokaz</a>
    </div>
    <div class="jumbotron">
        <h3>Znajdź wszystkich producentów którzy mają conajmniej jeden mebel w ofercie</h3>
        <a href="#">Pokaz</a>
    </div>
    <div class="jumbotron">
        <h3>Wyświetl wszystkie meble w danym katalogu</h3>
        <a href="#">Pokaz</a>
    </div>
    <div class="jumbotron">
        <h3>Znajdź wszystkie meble w danym stylu</h3>
        <a href="#">Pokaz</a>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>