<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <title>Bootstrap Tutorial</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <style>
    .jumbotron{
    background-color: #128870;
    color:white;
    }
    .page-header{
    padding-top: 3px;
    background-color:#303030;
    color:white;
    border-bottom: none;
    text-align: center;
    }
    a{
    color: black;
    }
    body{
    background-color: #404040;
    }
    .option{
        color: black;
    }
    </style>

</head>
<body>

<div class="container">

    <div class="page-header">
        <h1>Furniture magazine</h1>
    </div>
    <div class="jumbotron">
        <h3>Wyświetl sklepy i ich adresy</h3>
        <a href="#">Pokaz</a>
    </div>
    <div class="jumbotron">
        <h3>Znajdź wszystkich producentów którzy mają conajmniej jeden mebel w ofercie</h3>
        <a href="#">Pokaz</a>
    </div>
    <div class="jumbotron">
        <h3>Wyświetl wszystkie meble w danym katalogu</h3>
        <div class="option">
            <select>
                <option th:each="Catalog: ${catalogList}" th:text="${Catalog.getName()}"></option>
            </select>
        </div>

        <a href="#">Pokaz</a>
    </div>
    <div class="jumbotron">
        <h3>Znajdź wszystkie meble w danym stylu</h3>
        <div class="option">
            <select>
                <option th:each="Style: ${styleList}" th:text="${Style.getName()}"></option>
            </select>
        </div>
        <a href="#">Pokaz</a>
    </div>
</div>

</body>
</html>